.vestege-heading {
  margin-left: 10%;
  padding-left: 2rem;
  padding-top: 2rem;
}
// .vestege-subheading {
//   padding: 2rem;
//   margin: 0;
// }
.vestege-odd-section {
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
.vestege-even-section {
  color: black;
  background: rgba(0, 0, 0, 0.2);
}

.vestege_container {
  margin: 3rem 10rem 3rem 10rem;
  background: rgba(0, 0, 0, 0.014);
  & hr {
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.vestege-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &-image {
    background: url(../../../images/BusinessPage/vestege.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0rem 2rem 2rem 2rem;
    height: 10rem;
  }
  &-content {
    font-size: 0.9rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;

    @extend .textVerticalAlignCenter;
  }
}

.vestege-what {
  &-video {
    padding: 2rem;
  }
}
