.colorWhite{
	color: $white;
}
.colorDwhite{
	color: $dwhite;
}



.colorRed{
	color: $red
}
.colorDred{
	color : $dred;
}


.colorBlack, .colorDblack{
	color: $black
}


.colorBlue{
	color: $blue;
}

.colorDblue{
	color: $dblue;
}