@mixin sectionPadding {
	padding: 60px 0;
}

@mixin test {
	border: 1px solid violet;
}

@mixin test1 {
	border: 1px solid palegreen;
}

@mixin test2 {
	border: 1px solid aqua;
}

@mixin redColor {
	color: red;
}

@mixin ajCenter {
	align-content: center;
	justify-content: center;
}

@mixin ajSelf {
	align-self: center;
	justify-self: center;
}

@mixin inverse($color, $bgColor) {
	color: $bgColor;
	background-color: $color;
}

@mixin button-outline($outline, $textcolor){
    border: 1px solid $outline;
    color: $outline;

    &:hover{
        background-color: $outline;
        color: $textcolor;
    }
}

@mixin button-solid($color, $textcolor) {
	color: $textcolor;
    background-color: $color;
    border: 1px solid $color;
}



@mixin swap($foreground, $background) {
	color: $foreground;
	background-color: $background;
}
