.blogcard {
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 10px;
	box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.07);
	width: 300px;
	&__image {
        width: 300px;
        height: 250px;
		> * > img {
			width: 300px;
			height: 250px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}

	&__title {
		flex-wrap: wrap;
		// padding: 10px;
		margin: 10px 20px;

		font-weight: 700;
		display: flex;
		align-self: center;
		font-size: 1.2em;
	}
	&__category {
		color: white;
		background-color: violet;
		display: flex;
		border-radius: 50px;
		padding: 4px 20px;
		text-transform: uppercase;

		margin: 10px;
		margin-left: 20px;
		align-self: flex-start;
		// justify-content: center;
	}

	&__basic {
		flex-wrap: wrap;
		// padding: 10px;F
		margin: 10px 20px;
		margin-top: 5px;

		display: flex;
		align-self: center;
		font-size: 1em;

		font-weight: 500;

		color: rgb(41, 41, 41);
	}

	&__about {
		display: flex;
		margin: 20px;
		&__logo {
			flex: 1;
			> img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}

		&__info {
			flex: 3;
			display: flex;
			flex-direction: column;
			margin: 5px;


			&__timestamp {
				flex: 1;
			}

			&__author {
				flex: 1;
				color: black;
                font-weight: bold;
				text-transform: capitalize;
			}
		}
	}

	// &__reuploader{
	//     cursor: pointer;
	//     display: flex;
	//     flex-direction: column;

	//     justify-content: center;
	//     border: 1px solid $purple;
	//     align-items: center;

	// 	width: 300px;

	// 	&__upload {
	// 		cursor: pointer;
	// 		border-radius: 5px;
	// 	}
	// }

	&__uploader {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 300px;
		height: 250px;

		&__upload {
			background-color: $minion_yellow;
			padding: 10px;
			cursor: pointer;
			border-radius: 5px;
		}
	}

	// &__read{
	//     cursor: pointer;
	//     display: flex;

	//     margin: 10px;
	//     justify-content: center;
	//     border: 1px solid $purple;
	//     align-items: center;

	//     > a {
	//         color: $purple;
	//     }

	//     &:hover{
	//         text-decoration: underline;
	//     }
	// }
}
