.btn_inv_red {
	border: 2px solid $red;
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
	color: $red;

	cursor: pointer;

	&:hover {
		color: $white;
		background-color: $red;
	}
}

.button-purple {
	color: $purple;

	border: 3px solid $purple;
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: linear-gradient(to left, white 50%, $purple 50%);
	background-size: 200% 120%;
	background-position: right;
	transition: all 0.5s ease-out;

	text-align: center;
	font-size: 0.8em;

	cursor: pointer;
}

.button-purple:hover {
	background-position: left;
	color: white;
}

.button {
	padding: 10px;
	border-radius: 5px;
    border: none;
    cursor: pointer;

	&__delete {
		color: white;
		background-color: $red;
	}

    &:active{
        border: 2px solid $red;
    }

}
