.loginwrapper{
    // @include test;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    font-size: 1.5em;
}

.centerwrapper{
    display: flex;
    flex-direction: column;
    box-shadow: $shadow_all;
    border-radius: 5px;
    padding: 40px;

    &__adminlogin{
        color: $purple;
        font-weight: 600;
        font-size: 1.5em;
    }

    &__section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        width: 800px;

        
        &__input{
            padding: 10px 20px;
            width: 100%;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            border: none;
            border: 1px solid tint(black, 93%);

            font-size: 1.2em;
        
            &::placeholder{
                color: shade(white, 10%);
            }
        }

        
        &__button{
            // @include test;
            color: white;
            background-color: $purple;
            border: 1px solid $purple;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;

            padding: 10px;
            width: 100%;
            cursor: pointer;
            transition: all ease-out 250ms;

            &:hover{
                // inverse current color with background color
                @include inverse(white, $purple);
                transition: all ease-in 250ms;
            }
            
        }

    }

    



}
