.newproduct {
	margin: 10px;
	padding: 5px;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: center;
	width: 70%;
	box-shadow: $shadow_x200;

	input {
		align-self: center;
		width: 90%;
		height: 30px;
		outline: none;
		border: none;

		&::placeholder {
			color: shade(white, 10%);
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		flex-grow: 1;
		margin: 10px 20px;
	}
}

.split {
	display: flex;
	flex-direction: row;
	border: 1px solid #eee;
	margin: 5px;

	> * {
		padding: 10px;
	}

	&__title {
		background-color: #eee;
		text-align: center;
		width: 20%;
	}

	&__save {
		margin: 10px 0;
		padding: 10px;
		outline: none;
		border: 1px solid $red;
		background-color: transparent;
		cursor: pointer;
	}
}

.card {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	> div {
		padding: 10px;
	}

	&__image {
		margin: 5px;
	}

	&__upload {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 200px;

		&__text {
			cursor: pointer;
			font-size: 0.9em;
			padding: 10px 20px;
			color: black;
			border-radius: 5px;
			background-color: $warning;
		}

        &__delete {
			cursor: pointer;
			font-size: 0.9em;
			padding: 10px 20px;
			color: $white;
			border-radius: 5px;
			background-color: $red;
		}
	}

    &__control{
        display: flex;
        flex-direction: row;
        &__button {
            flex: 1;
            display: inline;
            padding: 10px;
            cursor: pointer;
            text-align: center;
            color: black;
        }
    }
	
}
