.about_us_lander {
  background: url(../../../images/AboutUS/aboutUsLander.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 20rem;
}
