.nav_bar {
  position: sticky;
  top: 0;
  background: black;
  height: 3rem;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  z-index: 100;
  padding: 0 20px;
}
.company {
  display: flex;
  align-items: center;

  &_logo {
    height: 2rem;
    width: 2rem;
    background: url(../../images/ap_logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 400px;
  }
  &_text {
    padding-left: 0.5rem;
  }
}

.nav_items {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.nav_item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 2px solid transparent;
  color: white;
  position: relative;

  &:hover {
    border-bottom: 2px solid white;
    animation-name: nav_hover;
    animation-duration: 0.5s;
  }
  @keyframes nav_hover {
    0% {
      border-bottom: 2px solid transparent;
    }

    100% {
      border-bottom: 2px solid white;
    }
  }
}

.itemsInCart {
  position: absolute;
  width: 10px;
  height: 10px;
  // background-color: darken(#e76e6e, 10%);
  background-color: darken(#6ec3e7, 10%);

  border-radius: 50%;
  right: 0;
  top: -5px;
}
