$COMPANY_LOGO: url(../images/ap_logo.jpg);
$LANDER_HOMEPAGE_LOGO: url(../images/ap_logo.jpg);

$CONTACT_US: url(../images/compressed/contactUs.jpg);
$BUSINESS_INTRO_BG: url(../images/compressed/businessintroBG.jpg);
$LANDER_HOMEPAGE: url(../images/compressed/lander.jpg);
$SMALL_INTRODUCTION: url(../images/compressed/introductionBG.jpg);
$ABOUT_US_LANDER: url(../images/compressed/AboutUS/aboutUsLander.jpg);
$BUSINESS_PAGE_LANDER: url(../images/compressed/AboutUS/aboutUsLander.jpg);

$PROFILE_IMG1: url(../images/anand.jpg);
$PROFILE_IMG2: url(../images/pallavi.jpg);
$ABOUT_ANANDPAL: url(../images/profile.png);

$VESTEGE_INFO_IMAGE: url(../images/BusinessPage/vestege.jpeg);


$ANAND_IMAGE: url(../images/profile.png);
$PALLAVI_IMAGE: url(../images/profile.png);