@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
/* this make sure that every element inherits the parent box-sizing type*/
*,
*::before,
*::after {
  box-sizing: inherit; }

/* width */
::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 1rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); }

html {
  font-size: 1.5em;
  scroll-behavior: smooth; }

body {
  /* by default all the block display are border-box*/
  box-sizing: border-box;
  /* Smoothen font which is better normal display of the font*/
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  overflow-x: hidden;
  width: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  font-weight: 600; }

p {
  padding: 5px; }

span {
  display: block;
  margin: 10px; }
  span.inline {
    display: inline-block; }

.app {
  position: relative; }

.relative_container {
  position: relative; }

.view {
  margin: 40px; }

.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: #e7ebf6;
  background: linear-gradient(to right, rgba(231, 235, 246, 0.2) 0, rgba(231, 235, 246, 0.8) 50%, rgba(231, 235, 246, 0.2) 100%); }

input[type="text"],
input[type="email"] {
  border: none; }

.input {
  width: 100%;
  height: 100%;
  min-width: 350px;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #eee !important; }

.green {
  color: yellowgreen; }

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 20px;
  transition: all 0.3s ease; }
  input[type="submit"]:hover {
    background-color: white;
    color: black; }

textarea {
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  width: 100%;
  min-height: 150px;
  resize: none;
  grid-area: four;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #eee; }
  textarea:focus {
    animation-name: inputActive;
    animation-duration: 0.5s;
    border-bottom: 2px solid yellowgreen; }

.fontXSmall {
  font-size: 0.8rem;
  font-weight: 300; }

.fontSmall {
  font-size: 1.2rem;
  font-weight: 300; }

.fontMedium {
  font-size: 1.5rem;
  font-weight: 300; }

.fontLarge {
  font-size: 2rem;
  font-weight: 300; }

.fontXLarge {
  font-size: 3rem;
  font-weight: 400; }

.fontXXLarge {
  font-size: 4.5rem;
  font-weight: 400; }

.fontMontserrat {
  font-family: "montserrat", sans-serif; }

.fontMontserratXBold {
  font-family: "montserrat", sans-serif;
  font-weight: 700; }

.fontSmallMont {
  font-size: 1.1rem;
  font-weight: 400; }

.fontXSmallMont {
  font-size: 1rem;
  font-weight: 600; }

.fontSemiHuge {
  font-size: 18rem;
  font-weight: 700; }

.fontHuge {
  font-size: 20rem;
  font-weight: 700; }

.fontOswald400 {
  font-family: "Oswald", sans-serif;
  font-weight: 400; }

.nav_bar {
  position: sticky;
  top: 0;
  background: black;
  height: 3rem;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  z-index: 100;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 0; }

.company {
  display: flex;
  align-items: center; }
  .company_logo {
    height: 2rem;
    width: 2rem;
    background: url(../images/ap_logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 400px;
    cursor: pointer; }
  .company_text {
    padding-left: 0.5rem;
    cursor: pointer;
    font-weight: 600; }

.nav_items {
  display: flex;
  align-items: center;
  font-weight: 600; }

.nav_item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 2px solid transparent;
  color: white;
  position: relative; }
  .nav_item:hover {
    border-bottom: 2px solid white;
    animation-name: nav_hover;
    animation-duration: 0.5s; }

@keyframes nav_hover {
  0% {
    border-bottom: 2px solid transparent; }
  100% {
    border-bottom: 2px solid white; } }

.itemsInCart {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #42b1e0;
  border-radius: 50%;
  right: 0;
  top: -5px; }

.input_text {
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  border-radius: 3px;
  padding: 0 10px;
  border: 1px solid #eee; }
  .input_text:focus {
    border-bottom: 2px solid yellowgreen;
    animation-name: inputActive;
    animation-duration: 0.5s; }

.contact_us {
  display: flex;
  gap: 5rem;
  padding: 1rem 3rem;
  border-top: 5px double black; }
  .contact_us p {
    font-size: 0.8rem;
    padding-right: 3rem;
    color: #b0b0b0; }
  .contact_us_form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 2rem; }

.contact_us_form_wrapper {
  padding: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); }
  .contact_us_form_wrapper h3 {
    text-align: center;
    text-transform: uppercase; }

.contact_map {
  padding: 1.5rem 1rem 1rem 1rem;
  width: 100%;
  height: 315px;
  border: none; }

.connect-with-us {
  position: fixed;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  display: flex;
  background-image: radial-gradient(circle 820px at 9.1% 22.8%, #d8f7e5 0%, #f9eeee 74.7%);
  padding: 15px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  gap: 10px;
  transition-duration: 0.7s;
  opacity: 1;
  mix-blend-mode: hard-light; }
  .connect-with-us:hover {
    left: 0px; }
  .connect-with-us-text {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    text-align: center; }

.connect-with-us-anand,
.connect-with-us-pallavi {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .connect-with-us-anand span,
  .connect-with-us-pallavi span {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px; }
  .connect-with-us-anand a,
  .connect-with-us-pallavi a {
    text-decoration: none;
    color: black;
    transition-duration: 300ms; }
    .connect-with-us-anand a svg,
    .connect-with-us-pallavi a svg {
      font-size: 15px;
      transition-duration: 0.3s;
      color: black; }
      .connect-with-us-anand a svg:hover,
      .connect-with-us-pallavi a svg:hover {
        transform: scale(1.5); }

.lander_home_page {
  position: relative;
  height: 100vh;
  background: url(../images/compressed/lander.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .lander_home_page_text {
    margin-right: 7rem;
    right: 0; }
    .lander_home_page_text--header {
      font-weight: 600;
      font-size: 3rem;
      text-transform: uppercase; }
  .lander_home_page_logo {
    width: 10rem;
    height: 10rem;
    background: url(../images/ap_logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 400px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem; }

.lander_home_page_overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right; }

.small_introduction {
  padding-bottom: 1rem;
  padding-top: 1rem;
  background: url(../images/compressed/introductionBG.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.profile_img, .profile_img1, .profile_img2 {
  height: 10rem;
  min-width: 10rem;
  margin: 2rem;
  border-radius: 400px;
  filter: grayscale(0%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 2rem; }

.introduction {
  display: flex;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  width: 50rem;
  backdrop-filter: blur(10px); }
  .introduction:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -5px; }

.profile_img1 {
  background: url(../images/anand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 1px solid white; }

.profile_img2 {
  background: url(../images/pallavi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.profile_intro {
  padding: 1rem;
  margin: 1rem; }

.business_intro_container {
  background: url(../images/compressed/businessintroBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.business_overlay {
  position: relative;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
  padding: 5rem; }

.business_intro {
  width: 40rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; }
  .business_intro_header {
    text-transform: uppercase;
    border-bottom: 2px solid white; }
  .business_intro_content {
    font-size: 0.8rem; }

.aboutus {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129' height='129' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4d4d4' fill-opacity='0.04'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); }

.aboutus_card_group {
  display: flex;
  flex-direction: column;
  align-items: center; }

.aboutus_head {
  color: #4da6a6;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px; }

.aboutus_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin: 30px;
  backdrop-filter: blur(5px);
  color: black;
  border-radius: 5px;
  transition: opacity 0.5s ease; }
  .aboutus_card_image img {
    border-radius: 50%;
    width: 200px;
    height: 200px; }
  .aboutus_card_name {
    text-transform: capitalize;
    color: #0f1111 !important; }
  .aboutus_card_tag {
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #4da6a6;
    color: #eeeeee; }
  .aboutus_card_social {
    display: flex;
    align-items: center;
    justify-content: center; }
    .aboutus_card_social_icon {
      margin: 0 10px;
      color: #4da6a6; }
    .aboutus_card_social_item {
      margin: 0 10px;
      color: #4da6a6 !important; }
      .aboutus_card_social_item a {
        color: #4da6a6 !important; }
        .aboutus_card_social_item a > svg {
          width: 30px !important;
          height: 30px !important; }
  .aboutus_card_info {
    padding: 0 10px;
    font-size: 0.9em;
    text-transform: capitalize;
    text-align: justify;
    line-height: 1.4; }
  .aboutus_card:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 5px solid #4da6a6; }

.mainBusinessPage {
  padding: 0 10%; }

.business_page_lander {
  background: url(../images/compressed/AboutUS/aboutUsLander.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  height: 20rem; }
  .business_page_lander_overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center; }
  .business_page_lander-content {
    color: white;
    text-transform: capitalize;
    margin-left: 2rem;
    margin-right: 2rem; }
    .business_page_lander-content p {
      font-size: 0.8rem; }
    .business_page_lander-content button {
      border: 2px solid white;
      color: white;
      width: 400px;
      font-weight: 800;
      background: transparent;
      padding: 10px;
      outline: none;
      border-radius: 5px;
      transition-duration: 0.5s;
      cursor: pointer; }
      .business_page_lander-content button:hover {
        color: white;
        background: #1da3e0; }

.our_businesses {
  display: flex;
  gap: 1rem; }
  .our_businesses-details {
    padding: 2rem 1rem; }
    .our_businesses-details img {
      width: 100%;
      height: 7rem;
      object-fit: cover; }
    .our_businesses-details h1 {
      font-size: 1rem; }
    .our_businesses-details p {
      font-size: 0.8rem; }

.vestege-heading {
  padding-left: 2rem;
  text-align: center;
  margin: 2rem auto; }

.vestege_container {
  padding: 2rem 0; }

.vestege-info {
  display: flex;
  margin: 1rem auto;
  align-items: center;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition-duration: 500ms;
  padding: 1rem;
  font-weight: 300; }
  .vestege-info:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); }
  .vestege-info-image {
    background: url(../images/BusinessPage/vestege.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-grow: 1;
    flex-basis: 0; }
  .vestege-info-content {
    font-size: 0.8rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-grow: 1;
    flex-basis: 0; }

.vestege-video {
  border-radius: 50%;
  padding: 1rem; }

.satvaa-header {
  padding-left: 2rem;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 2rem auto; }

.satvaa-products-header {
  margin-bottom: 0;
  text-align: center; }

.satvaa-info {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  gap: 20px;
  align-items: center; }

.satvaa-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 50%; }

.satvaa-products-carasole {
  padding: 2rem 0; }
  .satvaa-products-carasole .a-box {
    margin: 0 auto 2rem auto;
    display: inline-block;
    width: 240px;
    text-align: center; }
  .satvaa-products-carasole .img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block; }
  .satvaa-products-carasole .img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px; }
  .satvaa-products-carasole .inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px; }
  .satvaa-products-carasole .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px; }
  .satvaa-products-carasole .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px; }

.carasole-item {
  display: flex;
  width: 100%;
  align-items: center; }

.hritvi-header {
  padding-left: 2rem;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 2rem auto; }

.hritvi-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 50%; }

.hritvi-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center; }
  .hritvi-info p {
    text-align: justify; }

.hritvi-branches {
  width: 80%;
  margin: 2rem auto;
  display: flex; }
  .hritvi-branches-lists {
    width: 200px;
    background: rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 3.5rem; }
  .hritvi-branches-list {
    font-size: 0.8rem;
    padding: 10px 5px 10px 5px;
    border-bottom: 2px solid transparent;
    cursor: pointer; }

.hritvi-branch-active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.3); }

.hritvi-branch-info {
  margin: 0 1rem; }
  .hritvi-branch-info_header {
    margin: 0 0 2rem 0;
    text-align: center; }
  .hritvi-branch-info p {
    text-align: justify;
    font-size: 0.9rem; }

.hritvi-branch-carasole {
  height: 200px;
  margin: 0 1rem; }

.hritvi-branch-image {
  height: 200px;
  width: 100%;
  object-fit: cover; }

.contact_map {
  width: 100%; }

.cart-icon {
  padding: 20px;
  border-radius: 50%;
  position: fixed;
  margin: 5px;
  top: 3rem;
  right: 0;
  z-index: 100;
  background-color: #42b1e0; }
  .cart-icon:hover {
    background: #1b79a1;
    transition: all 0.4s ease-in-out; }

.checkout {
  display: flex;
  color: rgba(0, 0, 0, 0.9);
  justify-content: space-around; }

.checkout-cart-items {
  min-height: 70vh;
  padding: 1rem 4rem; }
  .checkout-cart-items-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4); }
    .checkout-cart-items-header h2 {
      color: rgba(0, 0, 0, 0.8); }

.checkout-cart-items-table {
  margin-bottom: 2rem; }
  .checkout-cart-items-table tr th {
    padding: 15px 15px; }
  .checkout-cart-items-table tr td {
    padding: 15px 15px; }

.checkout-cart-items-column1 {
  display: flex;
  min-width: 200px; }
  .checkout-cart-items-column1-details {
    padding: 10px;
    height: 100%;
    margin-left: 10px; }
    .checkout-cart-items-column1-details P {
      margin: 0;
      padding-bottom: 3px;
      font-size: 16px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.9); }
    .checkout-cart-items-column1-details span {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.7); }

.checkout-cart-items-image {
  width: 80px;
  height: 80px;
  object-fit: cover; }

.quantity-alteration {
  display: flex;
  align-items: center; }

.checkout-cart-items-quantity {
  border: 1px solid gray;
  padding: 2px 5px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px; }

.change-quantity {
  border: none;
  background-color: transparent;
  padding: 2px 5px;
  font-size: 20px;
  margin: 0 10px;
  border-radius: 3px; }
  .change-quantity:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s; }

.checkout-cart-summary {
  padding: 1rem 4rem;
  width: 450px;
  background-color: #f5f5f6; }
  .checkout-cart-summary-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4); }

#send_otp_button,
#verify_button {
  border: none;
  background-color: #7267e0;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  width: 100%;
  margin: 1rem 0; }
  #send_otp_button:hover,
  #verify_button:hover {
    background-color: #4b3dd7;
    transition-duration: 500ms; }

#checkout_button {
  border: none;
  background-color: #fa7474;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  width: 100%;
  margin: 1rem 0; }
  #checkout_button:hover {
    background-color: #f84343;
    transition-duration: 500ms; }

.cost {
  font-size: 14px;
  font-weight: 600; }

.cart-link {
  color: #7267e0; }

.final-costing {
  margin: 1rem 0; }
  .final-costing p span {
    font-weight: 600; }

.checkout-form {
  display: flex;
  flex-direction: column; }
  .checkout-form input {
    font-size: 12px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border: 1px solid #bfbfc6;
    border-radius: 3px; }
  .checkout-form p {
    font-size: 12px; }

.imagecard {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  width: 300px;
  margin: 20px; }
  .imagecard__image {
    padding: 10px !important; }
    .imagecard__image > img {
      width: 280px;
      height: 250px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
  .imagecard__info {
    display: flex;
    flex-direction: column; }
    .imagecard__info > div {
      margin: 5px; }
    .imagecard__info__title {
      flex: 1;
      color: #4E4E4E;
      font-weight: bold; }
    .imagecard__info__price {
      display: flex;
      flex-direction: row; }
      .imagecard__info__price > div {
        display: block;
        font-size: 1.5em;
        font-weight: bold; }
        .imagecard__info__price > div::after {
          content: "₹"; }
      .imagecard__info__price__base {
        text-decoration: line-through;
        color: #7c7c7c; }
      .imagecard__info__price__discounted {
        color: #2ab34a;
        margin-left: 30px; }
    .imagecard__info__description {
      text-transform: none;
      letter-spacing: 0;
      color: #4e4e4e;
      font-size: 0.9em;
      line-height: 1.6em;
      text-align: justify; }
  .imagecard__button {
    cursor: pointer;
    color: white;
    background-color: #4da64d;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .imagecard__button:hover {
      background-color: green; }

.blogs-lander {
  width: 60%;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: black; }
  .blogs-lander-scroll-container {
    width: 16px;
    height: 25px;
    border: 2px solid black;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    position: relative; }
  .blogs-lander-scroll {
    border: 1px solid black;
    width: 0;
    height: 10px;
    animation-name: example;
    animation-duration: 0.8s;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes example {
  from {
    top: 0; }
  to {
    top: 5px; } }

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 70vh; }

.blogposts {
  display: grid;
  margin: 20px;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: repeat(2, 1fr); }

.blogcard {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 400px; }
  .blogcard__image {
    width: 400px;
    height: 300px; }
    .blogcard__image > * > img {
      width: 400px;
      height: 300px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
  .blogcard__title {
    flex-wrap: wrap;
    margin: 10px 20px;
    color: black;
    font-weight: 700;
    display: flex;
    font-size: 1.2em; }
  .blogcard__category {
    color: white;
    background-color: violet;
    display: flex;
    border-radius: 50px;
    padding: 4px 20px;
    text-transform: uppercase;
    margin: 10px;
    margin-left: 20px;
    align-self: flex-start; }
  .blogcard__basic {
    flex-wrap: wrap;
    margin: 10px 20px;
    margin-top: 5px;
    display: flex;
    font-size: 1em;
    font-weight: 500;
    color: #292929; }
  .blogcard__about {
    display: flex;
    margin: 20px; }
    .blogcard__about__logo {
      flex: 1; }
      .blogcard__about__logo > img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
    .blogcard__about__info {
      flex: 4;
      display: flex;
      flex-direction: column;
      margin: 5px; }
      .blogcard__about__info__timestamp {
        flex: 1;
        font-weight: 200; }
      .blogcard__about__info__author {
        flex: 1;
        color: black;
        font-weight: bold;
        text-transform: capitalize; }
  .blogcard__uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px; }
    .blogcard__uploader__upload {
      background-color: #fee440;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px; }

.editorjs__wrapper {
  padding: 20px;
  margin: 40px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15); }

#editorjs {
  font-size: 20px; }

figure {
  background-color: white !important; }

.ce-block__content,
.ce-toolbar__content {
  padding: 5px;
  max-width: calc(100vw - 100px) !important; }

.cdx-block {
  padding: 5px;
  max-width: 100vw !important; }

.ce-toolbox__button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.ce-block__content {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 10px; }

.image-tool--withBackground .image-tool__image {
  background-color: white !important; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  color: #4d4d4d; }
  .footer_main_social > svg {
    width: 40px !important;
    height: 40px;
    margin: 5px; }
  .footer_rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.8em;
    justify-content: space-between; }
    .footer_rights > div {
      margin: 0 30px; }
