.blogs-lander {
	width: 60%;
	margin: 0 auto;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	padding: 10px 0;
	border-radius: 100% / 250%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	background: #ebebeb;

	color: black;
	//   border-top: 1px solid white;

	&-scroll-container {
		width: 16px;
		height: 25px;
		border: 2px solid black;
		margin: 10px auto 10px auto;
		border-radius: 20px;
		position: relative;
	}
	&-scroll {
		border: 1px solid black;
		width: 0;
		height: 10px;
		animation-name: example;
		animation-duration: 0.8s;
		position: absolute;
		left: 50%;
		right: 50%;
		transform: translate(-50%);
		animation-iteration-count: infinite;
		animation-direction: alternate;

		@keyframes example {
			from {
				top: 0;
			}
			to {
				top: 5px;
			}
		}
	}
}

.blogs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.blogs-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	min-height: 70vh;
}

.blogposts {
	display: grid;
	margin: 20px;

	grid-column-gap: 50px;
	grid-row-gap: 0px;
	grid-auto-rows: minmax(50px, auto);
	grid-template-columns: repeat(3, 1fr);
}
